    <div class="p2" id="wave" style="padding-top: 6rem;">
        <h1>Chi sono</h1>
        <p>Dal 1996, lo studio di fisioterapia ha aiutato centinaia di pazienti a ritrovare equilibrio, forza e mobilità.
        Con un approccio olistico e basato sull'evidenza, impegnandosi a comprendere la causa principale dei problemi dei suoi
        pazienti e a fornire trattamenti personalizzati.</p>
        <div class="separator"></div>
        <p>Dal 1989 al 2000 ho collaborato con il centro “TERI” relativamente al servizio relativo alle terapie domiciliari.
            Dal 1991 opero presso l’ambulatorio ex.art.26 Casa di cura “Villa Fulvia”.
            Dal 1996 gestisco il mio studio di rieducazione posturale.
            Dal 2003 al 2020 ho collaborato con il servizio domiciliare presso la Casa di cura “Villa Ardeatina”.
        </p>
        <div class="separator"></div>
        <div class="">
            <ul class="flex-column">
                <li class="bold">Farinelli Alessandro</li>
                <li>P. Iva 08886730582</li>
                <li>Iscrizione all'albo 3389</li>
                <li>Terapista della riabilitazione dell'apparato locomotore</li>
            </ul>
        </div>
    </div>

