#wave {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100vw;
}

.title {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.sec {
    height: 100dvh;
    padding: 2rem;
    padding-top: 6rem;
    background-position-y: calc(80dvh - 10rem);
    background-repeat: no-repeat;
    background-size: contain;
}