<img id="wave" src="../../../assets/images/wave (2).svg" alt="">
<div class="p2" style=" margin-top: 6rem;">
    <span class="title">servizi</span>
    <div>
        <p>
            Con una combinazione di competenza, dedizione e le più moderne tecnologie, per guidarti verso la tua versione più sana e
            resiliente.
        </p>
        <p>
            Ogni servizio offerto è un impegno verso la tua salute e il tuo benessere. Con fiducia e determinazione, insieme
            raggiungeremo i tuoi obiettivi.
        </p>
    </div>
    <div class="mt2 pt2">
        <p>
            Nelle pagine seguenti sono esposte alcune delle terapie e dei servizi che metto a disposizione nel mio studio.
        </p>
    </div>
</div>