<img id="wave" src="../../../assets/images/wave (2).svg" alt="">
<div class="p2" style=" margin-top: 6rem;">
    <span style="font-size: 24px;" class="title">servizi</span>
    <div>
        <p>
            Con una combinazione di competenza, dedizione e le più moderne tecnologie, per guidarti verso la tua versione più sana e
            resiliente.
        </p>
        <p>
            Ogni servizio offerto è un impegno verso la tua salute e il tuo benessere. Con fiducia e determinazione, insieme
            raggiungeremo i tuoi obiettivi.
        </p>
    </div>
    <div class="pt1 text-center">
        <p style="font-size: 12px">
            Nelle pagine seguenti sono esposte alcune delle terapie e dei servizi che metto a disposizione nel mio studio.
        </p>
    </div>
    <div class="separator"></div>
    <div>
        <span class="title">Rpg</span>
        <span class="sub block">Rieducazione Posturale Globale</span>
        <div>
            <p>È basata sulla correzione delle posture scorrette che possono portare a tensioni, dolori e squilibri
                muscolari.</p>
            <p>E’ articolarmente efficace per chi soffre di mal di schiena, sciatica, scoliosi, cifosi, problemi alle
                ginocchia, alle
                caviglie e molte altre affezioni muscoloscheletriche.</p>
        </div>
    </div>

</div>