<img id="wave" src="../../../../assets/images/wave (2).svg" alt="">
<div class="p2" style=" margin-top: 6rem;">
    <div>
        <span class="title">Rpg</span>
        <span class="sub block">Rieducazione Posturale Globale</span>
        <div>
            <p>È basata sulla correzione delle posture scorrette che possono portare a tensioni, dolori e squilibri muscolari.</p>
            <p>E’ articolarmente efficace per chi soffre di mal di schiena, sciatica, scoliosi, cifosi, problemi alle ginocchia, alle
            caviglie e molte altre affezioni muscoloscheletriche.</p>
        </div>
    </div>
    <div class="separator"></div>
    <div>
        <span class="title">Rieducazione Neuromotoria e
        Post-Traumatica</span>
        <div>
            <p>
                Questo approccio terapeutico mira a ripristinare, migliorare e ottimizzare la funzione motoria e la qualità della vita
                dei pazienti attraverso vari metodi e tecniche riabilitative.
            </p>
        </div>
    </div>
</div>