<img id="wave" src="../../../../assets/images/wave (2).svg" alt="">
<div class="p2" style=" margin-top: 6rem;">
    <div>
        <span class="title">Rieducazione Neuromotoria e Post-Traumatica</span>
        <div>
            <p>
                Questo approccio terapeutico mira a ripristinare, migliorare e ottimizzare la funzione motoria e la qualità della vita
                dei pazienti attraverso vari metodi e tecniche riabilitative.
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div>
        <span class="title">Rieducazione Emiplegico Adulto Metodo Bobath</span>
        <div>
            <p>Il Metodo Bobath rappresenta uno degli approcci più consolidati e riconosciuti nella rieducazione
                dell'emiplegico
                adulto. Sviluppato da Berta e Karel Bobath negli anni '40, questo metodo si concentra sulla riabilitazione
                dei pazienti
                affetti da emiplegia, tipicamente a seguito di un ictus cerebrale o di altre condizioni neurologiche.</p>
        </div>
    </div>
    <!-- <div class="fp-controlArrow fp-prev">ciao</div> -->
</div>