#wave {
    position: absolute;
    top: 0;
    z-index: 2;
}

.title {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

.icon {
    width: 65px;
}