<img class="mb2" id="wave" src="../../../assets/images/wave (3).svg" alt="">
<div class="text-center contacts">
    <div class="text-left" style="padding-top: 5rem">
        <a href="tel:3292978127" class="align-center mt1 pl2 mb2 contact-box">
            <img class="icon mr1" src="../../../assets/images/phone-solid.svg" alt="icona chiama">
            Clicca per chiamarmi al&nbsp;<b>3292978127</b>
        </a>
        <iframe id="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.628226094708!2d12.5212962!3d41.879344599999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61f3d56606f5%3A0x5cc5a5bfd79a175e!2sVia%20Gela%2C%2089%2C%2000182%20Roma%20RM!5e0!3m2!1sit!2sit!4v1704578003187!5m2!1sit!2sit"
            style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
    <form action="https://formspree.io/f/xnqeewoe" method="POST">
        <label>
            <h3>Nome:</h3>
            <input type="name" name="name">
        </label>
        <label>
            <h3>Email:</h3>
            <input type="email" name="email">
        </label>
        <label>
            <h3>Il tuo messaggio:</h3>
            <textarea rows="5" name="message"></textarea>
        </label>
        <button type="submit">Invia</button>
    </form>
    <!-- <div class="leutsi">
        Powered by&nbsp; <a target="_blank" href="https://www.leuzzi.biz/">Francesco <b>Leuzzi</b></a>
    </div> -->

</div>