<img id="wave" src="../../../assets/images/wave (3).svg" alt="">
<div class="pt2 pb2 text-center" style="margin-top: 6rem;">
    <h3>Via Gela, 89, Roma 00182</h3>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2970.628041761495!2d12.518721275788382!3d41.87934856533647!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f61f3d56606f5%3A0x5cc5a5bfd79a175e!2sVia%20Gela%2C%2089%2C%2000182%20Roma%20RM!5e0!3m2!1sit!2sit!4v1692132835433!5m2!1sit!2sit"
        width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="mt2 pt2 text-left pl2">
        <span class="title">contatti</span>
        <div class="align-center mt2 mb2">
            <img class="icon mr1" src="../../../assets/images/phone-solid.svg" alt="">
            <span>Clicca per chiamarmi al             
            062017756</span>
        </div>
        <div class="align-center">
            <img class="icon mr1" src="../../../assets/images/paper-plane-solid.svg" alt="">
            <span>Clicca per mandare una mail a fisioalex@gmail.com</span>
        </div>
    </div>
</div>