<img id="wave" src="../../../../assets/images/wave (2).svg" alt="">
<div class="p2" style=" margin-top: 6rem;">
    <div>
        <span class="title">Tecarterapia</span>
        <div>
            <p>
                E’ una delle terapie più innovative, combinando elettricità e calore per affrontare una vasta gamma di patologie
                muscoloscheletriche.
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div>
        <span class="title">Linfodrenaggio Manuale</span>
        <div>
            <p>
                E’ una tecnica terapeutica specializzata che promuove il flusso della linfa nel corpo. Questa pratica delicata e
                rilassante offre molti benefici, tra cui: detossificazione del corpo, riduzione dell'edema, rilassamento e benessere.            
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div>
        <span class="title">Terapia domiciliare</span>
        <div>
            <p>
                Concediti il privilegio di ricevere trattamenti terapeutici direttamente nel comfort e nella sicurezza della tua casa.            
            </p>
        </div>
    </div>
</div>