<ul id="menu">
  <li data-menuanchor="home"><a href="#home">Home</a></li>
  <li data-menuanchor="chisono"><a href="#chisono">Chi sono</a></li>
  <li data-menuanchor="servizi"><a href="#servizi">Servizi</a></li>
  <li data-menuanchor="contatti"><a href="#contatti">Contatti</a></li>
</ul>

<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">
  <div class="section"><app-home></app-home></div>
  <div class="section" (click)="fullpage_api.moveSectionDown()"><app-iam></app-iam></div>
  <div class="section">
    <div class="slide"><app-services></app-services></div>
    <div class="slide"><app-first></app-first></div>
    <div class="slide"><app-second></app-second></div>
    <div class="slide"><app-third></app-third></div>
  </div>
  <div class="section"></div>
  <!-- <div class="section" (click)="fullpage_api.moveTo('secondPage', 2)">Some section4</div> -->
</div>