.section {
    text-align: center;
    font-size: 3em;
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: white;
    &:active {
        transform: scale(0.8);
        transition-duration: .3s;
    }
}

#menu li.active {
    color: white;}
    
    #menu li a {
        text-decoration: none;
        background-color: #ffad8c;
        color: white;}

#menu li.active a:hover {
    color: white;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 9px 16px;
    display: block;
}

#menu li.active a {
    color: white;
    background: #004B8D;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (max-width: 575.98px) {
    .section {
        text-align: left;
        font-size: inherit;
    }
}


//Blu notte: #003366 Blu cielo: #007BB7 Blu pastello: #89CFF0 Blu petrolio: #004B8D Blu cobalto: #0047AB
