<img id="wave" src="../../../../assets/images/wave (2).svg" alt="">
<div class="sec">
    <div>
        <span class="title">Applicazione Neurotape, Nastro Kinesiologico</span>
        <div>
            <p>
                Soffri di dolori muscolari frequenti? L'allenamento intensivo ha portato a piccoli infortuni o gonfiori? O forse stai
                cercando una soluzione alternativa per migliorare la tua postura? Se ti riconosci in una di queste situazioni, la
                soluzione potrebbe risiedere in un sottile nastro colorato chiamato Neurotape, o nastro kinesiologico.                
            </p>
        </div>
    </div>
    <div class="separator"></div>
    <div>
        <span class="title">Massaggio Shiatsu</span>
        <div>
            <p>
                Stai cercando un'esperienza di rilassamento profondo che va oltre il semplice sollievo fisico?
                Il Massaggio Shiatsu offre numerosi vantaggi, tra cui: miglioramento della circolazione, equilibrio energetico, allevia
                tensioni e dolori, rinforzo del sistema immunitario, rilassamento profondo.
                Tutto eseguito senza oli e lozioni.            
            </p>
        </div>
    </div>
</div>