<div class="section">
    <div class="p2 mt2">
        <div class="mb2 mt2">
            <span class="nome">STUDIO <span class="cognome">FARINELLI</span></span>
        </div>
        <p>Restituisci Vitalità al tuo Corpo con la Fisioterapia Professionale.</p>
        <p>Scopri come posso aiutarti a ritrovare il benessere fisico e la mobilità.</p>
        <button a href="#contatti" class="mt1">PRENOTA</button>
    </div>
    <img id="verteb" src="../../../assets/images/verteb.jpg" alt="">
    <img id="wave" src="../../../assets/images/wave.svg" alt="wave home">
</div>


