.nome,
.cognome {
    font-size: 20px;
    letter-spacing: 2px;
}

.cognome {
    letter-spacing: 4px;
    font-weight: 700;
}

#verteb {
    width: calc(100vw - 2rem);
    margin: 1rem; margin-top: 0; margin-bottom: 0;
}

// #wave {
//     z-index: 2;
//     width: 100%!important;
//     background-image: url('../../../assets/images/wave.svg');
//     background-repeat: no-repeat;
//     background-position: bottom;
// }


//BOTTONE
button {
    padding: 0.8em 1.8em;
    border: 2px solid #17C3B2;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #17C3B2;
}

button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #17C3B2;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 105%;
}

button:hover {
    color: white;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    // #wave {
    //     width: 450%;
    // }
}

