<div class="section">
    <div style="text-align: center">
        <img src="../src/assets/img/newlogo.png" alt="logo Leuzzi">
    </div>
    <div style="text-align: center">
        <h4 class="bold" style="font-size: 2em">Francesco Leuzzi</h4>
        <p style="margin: 2rem;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, sunt nisi animi
            at distinctio eum
            soluta dolor voluptas cupiditate quia officiis, harum dolore maiores quod mollitia. Illo nemo ex
            temporibus!
        </p>
        <p class="mt1"><strong>Se hai bisogno di metterti in contatto con me, puoi mandarmi una mail
                all'indirizzo</strong><a class="block" href="mailto:leuzzibiz@gmail.com">leuzzibiz@gmail.com</a></p>
        <a href="https://www.linkedin.com/in/francesco-leuzzi-5497a8221/?originalSubdomain=it" target="_blank">
            <h2><i class="fa-brands fa-linkedin"></i></h2>
        </a>
    </div>
</div>
